.twitter-share-button
{
    display: none;
}

#woo, #woo-button, .twitter-share-button, #follow1, #follow2
{
    position: absolute;
}

#woo
{
    font-family: Oswald;
    left: 10%;
    top: 70%;
    width: 59%
}

#woo-button
{
    right: 25%;
    top:10%;
}

.twitter-share-button
{
    right: 12%;
    bottom: 22%;
}

#follow1
{
    height: 4%;
    right: 5.5%;
    top: 11%;
    transform: rotate(-15deg);
    width: 13.5%;
}

#follow2
{
    height: 5%;
    right: 5%;
    top: 15%;
    transform: rotate(-15deg);
    width: 13.5%;
}

@media (max-width: 767px)
{
    #schwurbomat
    {
        background-image: url(schwurbomat540.jpg);
        height: 450px;
    }

    #woo
    {
        font-size: 12px;
    }

    #woo-button
    {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    #schwurbomat
    {
        background-image: url(schwurbomat720.jpg);
        height: 600px;
    }
}

@media (min-width: 992px) and (max-width: 1199px)
{
    #schwurbomat
    {
        background-image: url(schwurbomat960.jpg);
        height: 800px;
    }

    #woo
    {
        font-size: 20px;
    }

    #woo-button
    {
        font-size: 20px;
    }
}

@media (min-width: 1200px)
{
    #schwurbomat
    {
        background-image: url(schwurbomat.jpg);
        height: 950px;
    }

    #woo
    {
        font-size: 24px;
    }

    #woo-button
    {
        font-size: 24px;
    }
}
